.navbar {
    background-color: #C76B6F;
}

.navbar a {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1em;
}

li a:hover {
    font-weight: bold;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #787878;
    height: 14em;
    padding: 20px;
}

#game .container {
    text-align: center;
    margin-bottom: 250px;
    margin-left: 80px; 
}

#peli {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

#game #taulukko {
    margin-left: -300px;
}

#content {
    margin-top: 140px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: absolute;
    bottom: 2em;
}

footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    right: 42em;
    bottom: 6em;
}

footer .twitter-x {
    position: absolute;
    right: 65em;
    top: 8em;
}

footer .instagram {
    position: absolute;
    right: 61.5em;
    top: 8em;
}

footer .meta {
    position: absolute;
    right: 58em;
    top: 8em;
}

footer .github {
    position: absolute;
    right: 54.5em;
    top: 8em;
}

footer .logo-matikka {
    width: 5em;
    text-align: left;   
}


footer .logo-matikka {
    width: 5em;
    text-align: left;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-container a {
    display: inline-block;
}

form .move-button {
    position: absolute;
    bottom: 0em;
    left: -8em;
}

footer form {
    width:250px;
    height: 220px;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 11px;
}

header {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C76B6F;
}

h1 {
    position: absolute;
    font-family: serif;
    right: 22em;
    top: 0.6em;
}

.logo {
    flex: 1.5;
}

.logo img {
    width: auto;
    height: auto;
    display: flex;
    max-width: 100px;
}

body {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 770px) {
    
    footer {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color:#787878;
        height: 14em;
        padding: 20px;
    
    }

    footer p {
        display: none;
    }

    footer .social-media-container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    footer .twitter-x,
    footer .instagram,
    footer .meta,
    footer .github {
        position: static;
        margin-top: 10px;
    }
}