.navbar {
    background-color: #C76B6F;
}

.navbar a {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1em; 
}

li a:hover {
    font-weight: bold;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color:#787878;
    height: 14em;
    padding: 20px;

}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: absolute;
    bottom: 2em;
}

footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    right: 42em;
    bottom: 6em;
}

 
footer .twitter-x {
    position: absolute;
    right: 65em;
    top: 8em;
}

footer .instagram {
    position: absolute;
    right: 61.5em;
    top: 8em;
}

footer .meta {
    position: absolute;
    right: 58em;
    top: 8em;
}

footer .github {
    position: absolute;
    right: 54.5em;
    top: 8em;
}

footer .logo-matikka {
    width: 5em;
    text-align: left;   
}

.social-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-container a {
    display: inline-block;
}

form {
    width:250px;
    height: 220px;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 11px;
}

form .move-button {
    position: absolute;
    bottom: 0em;
    left: -8em;
}
header {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C76B6F;
}

.logo {
    flex: 0.5;
}

.logo img {
    width: auto;
    height: auto;
    display: flex;
    max-width: 100px; 
    
}

body {
    margin: 0;
    padding: 0;
}

#monivalinta {
    margin: 100px; 
    width: 500px; 
  }
  
.osa {
    border: 2px solid #000;
    padding: 20px;
    background-color: #787878;
    text-align: center;
  }
.osa button {
    width: 100%;
    height: auto;
    border: none;
}
#pistelaatikko {
    float: left; 
    width: 150px; 
    border: 2px solid #000;
    color: white;
    background-color: #787878;
    margin-top: 10px;
    text-align: center;
  }
  
#vastauslaatikko {
    float: right; 
    width: 150px; 
    border: 2px solid #000;
    background-color: #787878;
    margin-top: 10px;
    text-align: center;
  }
  #kysymyslaatikko {
    border: 2px solid #000;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #787878;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #vastauslaatikko button {
    width: 100%; 
    height: 100%; 
    background-color: #787878; 
    border: none;
    color: white;
}
.teki {
    margin: 100px; 
    width: auto; 
    position: fixed;
    background-color: #787878;
    color: white;
    border: 2px solid #000;
  }

  @media screen and (max-width: 770px) {
    
    footer {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color:#787878;
        height: 14em;
        padding: 20px;
    
    }

    footer p {
        display: none;
    }

    footer .social-media-container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    footer .twitter-x,
    footer .instagram,
    footer .meta,
    footer .github {
        position: static;
        margin-top: 10px;
    }
}