.navbar {
    background-color: #AB5754;
}

.navbar a {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1em; 
}

li a:hover {
    font-weight: bold;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #AB5754;
    height: 11em;
}

footer h3 {
    font-family: Arial, Helvetica, sans-serif;
}

footer h4 {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}