.navbar {
    background-color: #AB5754;
}

.navbar a {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1em; 
}

li a:hover {
    font-weight: bold;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:#787878;
    height: 11em;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

footer h5 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 44%;
    top: 10%;
}
 
footer .twitter-x {
    text-align: center;
    margin-right: 14em;
    margin-top: -5em;
}

footer .logo-matikka {
    width: 5em;
    text-align: left;
}


header {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    flex: 1.5;
}

.logo img {
    width: auto;
    height: auto;
    display: flex;
    min-width: 100px; 
    position: fixed;
}
.header {
    flex: 2;
    display: flex;
    align-items: center;
    margin-left: auto;
}
body {
    margin: 0;
    padding: 0;
}